/* Core components */

body{
    margin: 0;
    padding: 0;
    background: rgb(24, 24, 24);
    color: rgb(68, 68, 68);
    font-family: 'Roboto Mono', sans-serif;
    font-size: 18px;
    line-height: 1.5;
}
a{
    color: rgb(183, 28, 28);
    text-decoration: none;
}
a:hover{
    color: rgb(211, 47, 47);
    border-bottom: 2px solid rgb(211, 47, 47);
}
.orange{
    color: rgb(183, 28, 28);
}
.clear{
    font-weight: normal;
}
.clear:hover{
    border: none;
}

/* Layout */

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}

.left{
    float: left;
}
.right{
    float: right;
}
.center{
    text-align: center;
}

.container-large{
    margin: 0 auto;
    width: 1280px;
}
.container-medium{
    margin: 0 auto;
    width: 930px;
}
.container-small{
    margin: 0 auto;
    width: 560px;
}

.split{
    display: flex;
}

.spacer{
    padding: 10px;
}

td{
    text-align: center;
    padding: 5px 15px;
    background: rgb(170, 170, 170);
    color: rgb(32, 32, 32);
}

.display{
    width: 280px;
    padding: 5px 10px;
    margin: 5px;
    background: rgb(160, 160, 160);
    color: rgb(32, 32, 32);
}
.display-large{
    width: 590px;
    padding: 5px 10px;
    margin: 5px;
    background: rgb(160, 160, 160);
    color: rgb(32, 32, 32);
}

/* Header styling */

.header-outer{
    border-bottom: thin solid rgb(160, 160, 160);
}
.nav-block-head{
    padding: 25px;
}
/* Nav styling */

nav{
    padding: 10px;
    text-align: center;
}
.nav-block{
    margin: 10px;
    padding: 0 20px;
    border: 2px solid rgb(183, 28, 28);
}
.nav-block:hover{
    background: rgb(183, 28, 28);
    color: rgb(32, 32, 32);
}
.nav-block-list{
    margin: 0 10px;
    padding: 10px;
}
.nav-block-search{
    padding: 0;
    border: none;
}
.nav-search{
    width: 330px;
    height: 67px;
    padding: 5px 15px;
    border: 2px solid rgb(255,255,255);
    font-family: 'Roboto Mono', sans-serif;
    font-size: 18px;
    color: rgb(32, 32, 32);
    opacity: 0.5;
}
.nav-search:hover, .nav-search:focus{
    opacity: 1;
}

/* Form elements */

.input-text{
    padding: 10px;
    width: 420px;
    font-family: 'Roboto mono', sans-serif;
    font-size: 18px;
    border: 2px solid rgb(255, 255, 255);
    opacity: 0.5;
}
.input-text:hover,.input-text:focus{
    opacity: 1;
    border: 2px solid rgb(255,255,255);
}
.input-text-area{
    padding: 10px;
    min-width: 420px;
    max-width: 420px;
    min-height: 137px;
    height: 137px;
    max-height: 600px;
    font-family: 'Roboto mono', sans-serif;
    font-size: 18px;
    border: 2px solid rgb(255, 255, 255);
    opacity: 0.5;
}
.input-text-area:hover,.input-text-area:focus{
    opacity: 1;
    border: 2px solid rgb(255,255,255);
}
.input-button{
    margin: 37px 0 0 0;
    padding: 20px;
    width: 443px;
    font-family: 'Roboto mono', sans-serif;
    font-size: 18px;
    border: 2px solid rgb(183, 28, 28);
    background: rgb(183, 28, 28);
    color: rgb(32, 32, 32);
}
.input-button:hover,.input-button:focus{
    border: 2px solid rgb(211, 47, 47);
    background: rgb(211, 47, 47);
    color: rgb(32, 32, 32);
    cursor: pointer;
}