/* Core components */

body{
    margin: 0;
    padding: 0;
    background: rgb(66, 66, 66);
    color: rgb(32, 32, 32);
    font-family: 'Roboto Mono', sans-serif;
    font-size: 18px;
    line-height: 1.5;
}
a{
    color: rgb(242, 145, 9);
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    color: rgb(193, 116, 7);
    border-bottom: 3px solid rgb(193, 116, 7);
}
.orange{
    color: rgb(242, 145, 9);
}
.clear{
    font-weight: normal;
}
.clear:hover{
    border: none;
}

/* Layout */

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}

.left{
    float: left;
}
.right{
    float: right;
}

.container-large{
    margin: 0 auto;
    width: 920px;
}
.container-medium{
    margin: 0 auto;
    width: 630px;
}

/* Header styling */

.header-outer{
    border-bottom: thin solid rgb(160, 160, 160);
}
.nav-block-head{
    padding: 25px;
}
/* Nav styling */

nav{
    margin: 10px auto;
    padding: 10px;
}