/* Core components */

body{
    margin: 0;
    padding: 0;
    background: rgb(66, 66, 66);
    color: rgb(32, 32, 32);
    font-family: 'Roboto Mono', sans-serif;
    font-size: 18px;
    line-height: 1.5;
}
a{
    color: rgb(242, 145, 9);
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    color: rgb(193, 116, 7);
    border-bottom: 3px solid rgb(193, 116, 7);
}
.orange{
    color: rgb(242, 145, 9);
}

/* Layout */

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.split{
    display: -moz-box;
    display: flex;
    flex-direction: row;
}
.centered{
    text-align: center;
}

.header-outer{
    border-bottom: thin solid rgb(129, 129, 129);
}

.container-medium{
    margin: 0 auto;
    padding: 10px;
    width: 920px;
}

.half-split{
    width: 450px;
}
.quarter-split{
    width: 230px;
}
.three-fourth-split{
    width: 680px;
}

/* Nav blocks */

.nav-block-head{
    padding: 10px;
}