/* 

Core CSS for openCCMSYS, so long as this file is loaded in the site will look okay.
Pair this with UI.css for improved looks.

https://www.benfd.uk/projects/openccmsys

*/

/* Set root variables */
:root{
    /* Colour variables */
    --primary-special-color: rgb(183, 28, 28);
    --secondary-special-color: rgb(229, 57, 53);
    --primary-background-color: rgb(100, 100, 100);
    --secondary-background-color: rgb(54, 54, 54);
    --box-shadow: rgb(61, 61, 61);
    --primary-text-color: rgb(255, 255, 255);
    --secondary-text-color: rgb(36, 36, 36);
    --primary-link-color: rgb(0, 145, 234);
    --secondary-link-color: rgb(64, 196, 255);
    /* Fonts */
    --primary-font-family: 'Roboto', sans-serif;
}

/* Core styling */

body{
    margin: 0;
    padding: 0;
    font-family: var(--primary-font-family);
    line-height: 1.5;
    font-size: 18px;
    color: var(--primary-text-color);
    background: var(--primary-background-color);
}
::selection{
    background: var(--primary-link-color);
    color: var(--primary-text-color);
}
a{
    color: var(--primary-link-color);
    font-weight: bold;
    text-decoration: none;
    border-bottom: 3px solid transparent;
}
a:hover{
    color: var(--secondary-link-color);
    border-bottom: 3px solid var(--secondary-link-color);
}

/* Containers */

.ocms-container{
    margin: 0 auto;
    padding: 0;
}
.ocms-container--flex{
    display: flex;
}

/* Container sizes */

.ocms-container--large{
    width: 1440px;
}
.ocms-container--regular{
    width: 1024px;
}
.ocms-container--small{
    width: 770px;
}

/* Cells */

.ocms-cell--75pc{
    width: 75%;
}
.ocms-cell--50pc{
    width: 50%;
}
.ocms-cell--25pc{
    width: 25%;
}
.ocms-cell-breaker{
    margin: 0 20px 0 0;
}