/* Header */

header{
    margin: 0 0 20px 0;
    background: var(--secondary-background-color);
    color: var(--primary-special-color);
}

/* Navigation */

.ocms-nav--link{
    color: var(--primary-special-color);
}
.ocms-nav--link:hover{
    color: var(--secondary-special-color);
    border-bottom: 3px solid var(--secondary-special-color);
}
.ocms-nav--block{
    padding: 20px;
    width: 100px;
    height: 60px;
    text-align: center;
}

/* Content */

.ocms-content--block{
    background: var(--secondary-background-color);
    box-shadow: 0px 5px 15px var(--box-shadow);
}
.ocms-content--title{
    margin: 0 0 10px 0;
    padding: 5px;
    text-align: center;
    line-height: 0.5;
    background: var(--primary-special-color);
}
.ocms-content--table{
    width: 100%;
}