/* 
//  CORE (core.css) styling for bloc-styling
//  This contains all of the base-level styling for the system
//  fonts > root.css > CORE > ui.css > OTHER
//  More information: https://www.benfd.uk/projects/bloc-styling
*/

/* Primal elements */

*{
    margin: 0;
    padding: 0;
}
::selection{
    color: var(--primary-font-color);
    background: var(--primary-selection-color);
}
body{
    /* Colors */
    color: var(--primary-font-color);
    background: var(--primary-background-color);
    /* Text styling */
    font-family: var(--primary-font-family);
    font-weight: normal;
    line-height: 1.5;
    font-size: 18px;
}
a{
    color: var(--primary-link-color);
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    color: var(--secondary-link-color);
}
.bloc-hidden{
    display: none;
}

/* APP primal elements */

.bloc-app--main{
    height: 100vh;
}
.bloc-app--sidebar{
    color: var(--primary-brand-color);
    background: var(--secondary-background-color);
    margin: 0 20px 0 0;
    height: 100%;
    width: 15%;
    min-width: 250px;
    max-width: 380px;
    text-align: center;
    box-shadow: 1px 0px 5px var(--box-shadow);
}
.bloc-app-primary-content{
    margin: 20px auto;
    width: 80%;
}

/* Containers */

.bloc-container--flex{
    display: flex;
}