/* 
//  CORE (core.css) styling for bloc-styling
//  This contains all of the base-level styling for the system
//  fonts > root.css > CORE > ui.css > OTHER
//  More information: https://www.benfd.uk/projects/bloc-styling
*/

/* Base-line */

body{
    margin: 0;
    padding: 0;
    font-family: var(--primary-font-family);
    line-height: 1.5;
    font-size: 18px;
    color: var(--primary-font-color);
    background: var(--primary-background-color);
}
::selection{
    color: var(--primary-font-color);
    background: var(--primary-highlight-color);
}
a{
    color: var(--primary-link-color);
    font-weight: bold;
    text-decoration: none;
    border-bottom: 3px solid transparent;
}
a:hover{
    color: var(--secondary-link-color);
    border-bottom: 3px solid var(--secondary-link-color);
}
ul{
    list-style-type: none;
}

/* Containers */

.bloc-container{
    margin: 0 auto;
}
.bloc-container--flex{
    display: flex;
}
.bloc-container--justify-center{
    align-items: center;
    justify-content: center;
}
.bloc-container--justify-right{
    justify-content: right;
}
.bloc-container--padded{
    padding: 0 15px;
}
.bloc-container--center{
    text-align: center;
}

.bloc-container--large{
    width: 1440px;
}
.bloc-container--regular{
    width: 1024px;
}
.bloc-container--small{
    width: 770px;
}

/* Cells */

.bloc-cell--10pc{
    width: 10%;
}
.bloc-cell--20pc{
    width: 20%;
}
.bloc-cell--30pc{
    width: 30%;
}
.bloc-cell--40pc{
    width: 40%;
}
.bloc-cell--50pc{
    width: 50%;
}
.bloc-cell--60pc{
    width: 60%;
}
.bloc-cell--70pc{
    width: 70%;
}
.bloc-cell--80pc{
    width: 80%;
}
.bloc-cell--90pc{
    width: 90%;
}

.bloc-cell--breaker{
    margin-right: 20px;
}