/* 
//  USER INTERFACE (ui.css) styling for blo-styling
//  This contains user interface styling for the system
//  fonts > root.css > core.css > USER INTERFACE > OTHER
//  More information: https://www.benfd.uk/projects/bloc-styling
*/

/* Header, Footer & Navigation */

header{
    margin-bottom: 20px;
    color: var(--primary-brand-color);
    background: var(--secondary-background-color);
}

.bloc-navigation--block{
    color: var(--primary-brand-color);
    padding: 20px 20px;
    height: 60px;
}
.bloc-navigation--block:hover{
    color: var(--secondary-brand-color);
    border-bottom: 3px solid var(--secondary-brand-color);
}

.bloc-footer--logo{
    color: var(--primary-brand-color);
}

/* Main content */

.bloc-content--status-bar{
    margin-bottom: 20px;
    padding: 0 20px;
    background: var(--primary-brand-color);
    font-weight: bold;
}

.bloc-content--block{
    background: var(--secondary-background-color);
    box-shadow: 0px 5px 15px var(--box-shadow);
}
.bloc-content--title{
    padding: 5px;
    background: var(--primary-brand-color);
    line-height: 0.5;
    text-align: center;
}

.bloc-table{
    padding: 0 10px;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}
.bloc-table--row:hover{
    background: var(--primary-background-color);
}
.bloc-table--data-head{
    font-weight: bold;
    padding: 10px 0;
}
.bloc-table--data{
    padding: 10px 0;
    max-width: 100px;
    cursor: pointer;
    border-top: 1px solid var(--primary-brand-color);
}

/* Forms */

input, button{
    font-family: var(--primary-font-family);
    border: 3px solid var(--primary-highlight-color);
}

/* Status bars */

.bloc-status{
    padding: 0px 20px;
    margin: 0 0 10px 0;
}
.bloc-status--error{
    background: var(--alert-color-error);
}
.bloc-status--warning{
    background: var(--alert-color-warning);
}
.bloc-status--success{
    background: var(--alert-color-success);
}
.bloc-status--text{
    padding: 6px 0 0 0;
    font-size: 20px;
    line-height: 1;
}
.bloc-status--icon{
    text-align: center;
    padding: 25px 20px 0 0;
}
button.bloc-status--close{
    color: var(--primary-text-color);
    margin: 10px 0 5px 0;
    height: 56px;
    width: 100%;
    background: transparent;
    border: 3px solid transparent;
}
button.bloc-status--close:hover{
    cursor: pointer;
}
button.bloc-status--close:focus{
    border: 3px solid var(--primary-link-color);
}