/* 
//  USER INTERFACE (ui.css) styling for blo-styling
//  This contains user interface styling for the system
//  fonts > root.css > core.css > USER INTERFACE > OTHER
//  More information: https://www.benfd.uk/projects/bloc-styling
*/

/* Logo && Informational elements */

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
}
footer{
    height: 20%;
    font-size: 15px;
}

/* Navigational elements */

nav{
    height: 70%;
}
.bloc-navigation--block{
    color: var(--primary-brand-color);
    padding: 10px 0;
    font-size: 20px;
}
.bloc-navigation--sub-block{
    color: var(--primary-brand-color);
    padding: 10px 0;
    font-size: 16px;
}
.bloc-navigation--block:hover, .bloc-navigation--sub-block:hover{
    color: var(--secondary-brand-color);
}
.bloc-navigation--sub-menu{
    background: var(--navigation-secondary);
}

.bloc-navigation--highlighted{
    color: var(--primary-font-color);
    background: var(--primary-brand-color);
}
.bloc-navigation--highlighted{
    color: var(--primary-font-color);
    background: var(--primary-brand-color);
}
.bloc-navigation--highlighted:hover{
    color: var(--primary-font-color);
}

/* Cells */

.bloc-cell--10pc{
    width: 10%;
}
.bloc-cell--15pc{
    width: 15%;
}
.bloc-cell--20pc{
    width: 20%;
}
.bloc-cell--25pc{
    width: 25%;
}
.bloc-cell--30pc{
    width: 30%;
}
.bloc-cell--35pc{
    width: 35%;
}
.bloc-cell--40pc{
    width: 40%;
}
.bloc-cell--45pc{
    width: 45%;
}
.bloc-cell--50pc{
    width: 50%;
}